<div class="row ml-0 mt-3">
  <h2>New Event</h2>
</div>
<div class="row ml-0 mt-2">
  <div class="col-6">
    <p>Please enter the required information to create a new Event:</p>
    <%= form_with model: @event do |form| %>
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="mb-3">
      <%= form.label :start_date, class: "form-label" %>
      <%= form.datetime_local_field :start_date, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.submit "Create", class: ["btn", "btn-primary"] %>
        <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
      </div>
    <% end %>
  </div>
</div>
